body{
    background-color: gray;
}
h1{
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid black;
    color: var(--color-grisOscuro);
}
.square{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
}

.grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618;
    height: 618;
}

.mole{
    background-image: url('MrKarate.gif');
    background-size: cover;
}